@import "tailwindcss";

@theme {
  --font-sans: 'Prompt', sans-serif;
}

/* 🌟 แก้ไข: ลบ !important ออก และไม่ต้องบังคับ font-family ที่นี่ 🌟 */
body {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}