@tailwind base;
@tailwind components;
@tailwind utilities;

/* บังคับใช้ Font Prompt ทั้งระบบ และป้องกัน Double Tap Zoom */
body {
  font-family: 'Prompt', sans-serif !important;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

/* ซ่อน Scrollbar ให้ดูคลีน แต่ยัง Scroll ได้ */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}