@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #f97316;
  --color-dark: #1f2937;
  --font-sans: "Kanit", sans-serif;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #f3f4f6;
}